<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <%= link_to "Buy More", root_path, class: "brand-logo black-text" %>
      <ul id="dropdown1" class="dropdown-content">
          <%= render( partial: 'carts/list', locals: { items: @items }) %>
      </ul>
      <ul class="right hide-on-med-and-down">

        <li class="cart-drop-down"><i class = "material-icons green-text dropdown-button" href="#!" data-activates="dropdown1">shopping_cart</i>
        </li>

        <% if current_user %>
          <li class="black-text"> <span style="text-transform: uppercase;">WELCOME <%= current_user.firstname %></span></li>
           <li class="black-text">  <%= link_to "LOGOUT", logout_path, class: "black-text" %> </li>
         <% else %>
          <li class="black-text">  <%= link_to "LOGIN", login_path, class: "black-text" %> </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

