<% if flash['notice'] %>
  <%= javascript_tag do %>
      Materialize.toast("<%= flash['notice'] %>", 3000)
  <% end %>
<% end %>

<div class="container">
  <div id="cart" style="padding: 0 1em;">
  <% unless @cart.empty? %>
    <div style="border-bottom: 1px solid #ccc">
        <div class="row">
          <div class="col s1 l6">
            <div class="black-text cart-item-list">Item</div>
          </div>
          <div class="col s1 l1">
            <div class="black-text">Quantity</div>
          </div>
          <div class="col s2 l2">
            <div class="black-text">Unit Price</div>
          </div>
          <div class="col s2 l2">
            <div class="black-text">Total</div>
          </div>
        </div>
      </div>
    <% @cart.each_pair do |key, item| %>
      <div style="border-bottom: 1px solid #ccc">
        <div class="row">
          <div class="col s1 l6">
            <div class="black-text cart-item-list"><%= item["name"] %></div>
          </div>
          <div class="col s1 l1">
            <div class="black-text"><%= item["quantity"] %></div>
          </div>
          <div class="col s2 l2">
            <div class="black-text">$<%= item["amount"] %></div>
          </div>
          <div class="col s2 l2">
            <div class="black-text">$<%= item["amount"] * item["quantity"] %></div>
          </div>
        </div>
      </div>
    <% end %>
  <div>
    <div class="row">
      <div class="col l12 sub-total-col">
        <span class="black-text sub-total">SUBTOTAL: $<%= @total_amount %> </span>
      </div>
    </div>
    <div class="row">
      <div class="col l12 checkout-col">
        <li><%= link_to "CONFIRM", @payment_url, class:"btn btn-1", method: :post %>
      </div>
    </div>
  </div>
  <% end %>
</div>

</div>
