<div class="container">
  <div class="row">
    <div class=" col m12 s12 l6">
      <div class="product-image-div"><%= image_tag(@product.image_url, class: "product-image") %></div>
    </div>
    <div class=" col m12 s12 l6">
      <h5 class="product-title"><%= @product.name %></h5>
      <span class="price">&#x20A6;<%= @product.price %></span>
      <div class="quantity">
      <%= form_tag(cart_path, method: "post", remote: true) do %>
        <div class="group-input">
          <%= number_field_tag :quantity, 1, min: 1, class: "quantity" %>
          <%= hidden_field_tag(:product_id, @product.id) %>
        </div>
      <%= submit_tag "BUY NOW", class: "btn btn-1 ripple add-to-cart" %>
      <% end %>
      </div>
      <h6 class="description">DESCRIPTION</h6>
      <hr>
      <div>
        <span><%= @product.description %> </span>
      <div>
    </div>
  </div>
</div>
